*{
    margin: 0;
    padding: 0;
}
    nav ul{
        list-style: none;
    }
nav ul{
    display: flex;
    flex-direction: row;
    background-color:#2455f4;
    height: 67px;
    align-items: center;

}
 ul li img{
    margin: 0 6px 0 186px;
    height: 28px;
}
input{
    width: 518px;
    height: 36px;
    border: 1px solid black;
    border-radius: 3px;

}
#login{
    margin: 0 0 0 80px;
    background: #2455f4;
    border: 1px solid #2455f4;
    color: white;
    width: 86px;
}
#more{
    margin: 0 0 0 40px;
    background: #2455f4;
    border: 1px solid #2455f4;
    color: white;
    width: 86px;
}
.cart{
    margin: 0 0 0 84px;
    color: white;
    font-size: large;
    font-style: normal;
}
.item ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    height: 40px;
    list-style: none;
    align-items: center;
}
.sale{
    border: 1px solid white;
}
.first{
    margin: 0 0 0 60px;
}
.last{
    margin: 0 60px 0 0;
}
.slider{
    height: 250px;
    overflow: hidden;
    margin: 0 23px;
}
.box1{
    margin: 0 23px;
}
.top{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.view{
    background-color: #2455f4;
    color: white;
    padding: 10px 15px;
}
.middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 190px;
}
.content{
    height: 175px;
    width: 180px;
    background-color:blueviolet;
}
.bottom{
    display:flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90px;
}
.contentp{
    height: 75px;
    width: 180px;
    /* background-color:rgb(224, 189, 193); */
    text-align: center;
    line-height: 22px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}


footer{
    background-color:red;
}